version: '3.3'
services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    #network_mode: 'host'
    ports:
      - "5432:5432"
  
  python-app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./main.py:/app/main.py
    depends_on:
      - db
